html{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;

}

nav{
    height: fit-content;
    padding: 0.5rem;
    background-color:#080b31;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav form input[type="text"]{
    height: 3rem;
    padding: 0 50%;
    font-weight: bold;
    border-radius: 1rem;
    width: 10rem;
    background-color: #f9f4f463;
}

.nav-logo{
    color: #fff;

}

.nav-links{
    display: flex;
    justify-content: space-between;

}
.nav-links ul{
    display: flex;
    padding-right: 1rem;
    gap: 1;
    
}

.nav-links ul li{
    color: #fff;
}

main{
    height: 100%;
}

.mistique{
    display: flex;
    margin-top: 2rem;
    
}

#videoElement{
    border-radius: 0.5rem;
    width: 100%;
    transition: 0.3s ease;
}


#self-videoElement{
    margin: 1rem;
    height: 9rem;
    position: absolute;
    border-radius: 0.5rem;
}

.video-mistique-container{
    height: 100%;
    width: 50%;
    padding: 2rem;
}

.chat-mistique-container{
    height: 80vh;
    width: 40%;
    padding: 1rem;
    margin: 0.5rem;

}



.chat-container{
    height: 90%;
    border: solid 1px #000;
    border-radius: 0.5rem;

}

.chat-controls{
    display: flex;


}

.chat-controls form{
    margin-top: 1rem;
    display: flex;

}

.chat-controls form input[type="text"]{
    height: 3rem;
    padding: 0 4rem;
    font-weight: bold;
    border-radius: 1rem;
    width: 22rem;
    background-color: #f9f4f463;

}

.message-button{
    border-radius: 1rem;
    width: 5rem;
    margin-left: 1rem;
}


@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    nav form input[type="text"]{
        width: 5rem;
    }

    .mistique{
        flex-direction: column;
    }

    .video-mistique-container{
        border: none;
        width: auto;
        padding: 0.5rem;
    }

    #self-videoElement{
        height: 5rem;
    }


    .chat-mistique-container{
        width: auto;
        height: fit-content;
    }

    .chat-container{
        height: 30vh;
        
    }

    .chat-controls form input[type="text"]{
        width: 70%;
        color: #000;
    }

    .message-button{
        margin-left: 0.5rem;
    }
}